*{
    box-sizing: border-box;
} /* Esta propiedad se recomienda ponerla en el selector universal para que aplique a todos los elementos y no se sobrescriba en ningun momento. */

body{
    font-family: "Montserrat", sans-serif;
    margin: 0; /*Quitamos el margin que venía por default, que eran 8px, y le pusimos 0*/
}


section{
    background: #ff1b68; /* En este ejemplo no usamos la propiedad completa: background-color.    */
}

#product-overview{
    background: url("/img/freedom.jpg"); /* Se puede agregar una imagen local o de un sitio web */
    width: 100%; /*Su ancho si es literalmente el 100% de la página porque el contenedor que lo rodea es un main element, que tambien es un block level element, por lo que tiene un ancho del 100%  */
    height: 528px; /*  Si quisiera que tomara todo el height d la página, tendria que ir a cada elemento padre, en este caso, main y body y ponerles de height un 100% para que literalmente ocupara
    ese 100%, pero mientras tanto, si no soy asi de especifica, solo tomara una cantidad relativa, o sea, no será el 528px del total de la pag, por ejemplo*/
    padding: 10px;
    /*border: 5px black solid; /* uso de propiedad clave */
    /*margin: 20px;
    /*box-sizing: border-box; /* Es comunmente usado como propiedad default de todos los elementos. */
} /* Ejemplo de aplicación de todas las capas que conforman a la caja*/

#product-overview h1{
    color: white;
    font-family: "Bree Serif", serif;
    font-weight:400;
    font-style: normal;
}


.section-title{
    color: #2ddf5c;
}


/* PRACTICA PROPIEDAD BOX-SIZING*/

.prueba-boxSize-1{
    width:80%;
    height:100px;
    border: 5px black solid;
    background: white;
}

.prueba-boxSize-2{
    width:80%;
    height:100px;
    padding:10px;
    border: 5px red solid;
    background: white;
} /*  Aparece mas grande porque ya se incluye el padding)*/

/*
En un principio, la primera caja aparece mas chica que la segunda ya que sin la propiedad de box-sizing, la anchura y la altura de los elementos por default se calcula así:

width + padding + border = actual width of an element
height + padding + border = actual height of an element

Es decir, la primera caja va a tomar en cuenta el 80% del width + el 5px (de lado izq + derecho) del border; en cambio, la caja dos, va a tomar en cuenta el 80% del width + 5px del border (de lado izq + derecho) + el padding porque
se lo asignamos, razón por la que la caja es más grande.

Si le agregas la propiedad box-sizing: border-box; en un elemento, tanto el border como el padding se incluyen, sin excepcion, no importa si se lo asignaste o no, por eso ya ambos se ven del mismo tamaño.
*/


.main-header{
    background: darkseagreen;
    width: 100%;
    padding: 8px 16px;
    /*display: inline-flex;
    align-items: center;*/
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
} /* Se usó el combinador "child direct"  */

.main-header__brand{
    color: #0e4f1f;
    text-decoration: none; /*  Propiedad que quita la linea del link */
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 80px); /* aquí se descontó el ancho del contenido que aparece en la consola de main-nav__items, y se tomó un poco más para que ahora sí apareciera en una sola línea. */
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none; /* Remueve los puntos que se marcan al inicio de la lista  */
}

.main-nav__item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item  a{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

/*.main-nav__item  a::after{
    content: " (link)";
    color:aqua;
}*/

.main-nav__item a:hover, .main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

p::first-letter{
color: blue;
    font-size: 20px;

}

.main-nav__item--cta a{
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover, .main-nav__item--cta a:active{
    color: #ff1b68;
    background: white;
    border: none;
}