body{
    font-family: sans-serif;
}

#assignment-instructions{
    color: palevioletred;
    font-family: sans-serif;
}

code{
    font-family: monospace;
    color:red;
}

.second-code-list{
    color:green;
}

li{
    font-family: inherit;
    background-color: black;
    color: white;
}


ol > .list-white{
    background-color: black;
    color: white;
} /* Combinador hijo directo.
Debido a la especificidad, la instruccion de abajo no aplicara a esto porque una clase es mas especifica que un elemento. En todo caso, tengo que cambiar aqui el bakcground-color a black */

ol li{
    background-color: black;
    color: white;
} /*combinador descendiente*/
