
.box{
    /*margin: 15px 10px;*/
    margin: 2px;
    border: 3px dotted black;
    padding: 5px 10px;
    display: inline-block;
    height: 300px;
    width: 46%;
}

html, body{
    height: 100%;
}

 .box-1{
     /*display: none;*/
}

 .box-2:hover{
     color: white;
     background-color: #0e4f1f;
     border-color: greenyellow;
 }