
section{
    background: #ff1b68;
} /*  element selector */

#product-overview{
    background: blue;
} /* Id selector   */

#product-overview h1{ /*Se usó un combinador. En este caso, significa que cualquier etiqueta h1 dentro de product-overview se le aplicarán los estilos que esten aquí. */
    color: white;
    font-family: "Bree Serif", serif;
    font-weight:400;
    font-style: normal;
} /*element selector*/ /* Además se está utilizando un combinador descendiente.  */


.section-title{
    color: #2ddf5c;
    /*font-family: inherit; /* inherit: Significa "utiliza el estilo heredado". En este caso, usará Montserrat, aunque en la consola aparezca que no está usando esa, sí lo está. Sin enmbargo, no es la mejor opción que podemos utilizar.*/
} /*class selector*/


body{
    font-family: "Montserrat", sans-serif;
}/* Tiene mayor especificidad que usar el selector universal (*)   */








/* DICCIONARIO

- Selectores: div, .blog-post, #main-title, [disabled], *
-Propiedades: background-color, width, color, margin, display
-Valores: red, 30%, #fa923f, 10px, block
-Declaración: Es la regla. Se compone de propiedades y sus respectivos valores.

 */

